*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Navigation Bar*/
.navbar{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* background-color: rgb(255, 148, 148); */
    background: linear-gradient(rgb(0, 225, 255), rgba(10, 179, 66, 0));
    color: rgb(0, 0, 0);
    justify-content: center;
}
.nav-logo img{
    width: 150px;
    padding: 0px;
    margin: 0px;
    align-items:flex-start;
}
.nav-title a{
    font-size: 3rem;
    /* margin: 10px; */
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav-title{
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.main-body{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.document-lists a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}
.document-lists li{
    padding-top: 10%;
}
.quick-apply{
    text-align: center;
}
.links a{
    text-decoration: none;
    font-size: 2.25rem;
    color: rgb(0, 0, 0);
}
.links li{
    padding-top: 15%;
    list-style: none;
}



@media(max-width: 1080px) {
    /*Navigation Bar*/
    .toggle-button{
        display: flex;
    }
    .nav-logo{
        margin: 10px;
        align-self: center;
        display: flex;
    }
    .nav-title{
        padding: 20px;
        text-align: center;
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links li a{
        padding: .5rem 1rem;
    }
    .nav-links.active{
        display: flex;
    }
}