@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* .container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(Data/logo.png);
    background-position: center;
    background-size: cover;
} */

/*Navigation Bar*/
.navbar{
    display: flex;
    position: sticky; 
    top: 0;
    align-items: center;
    background: linear-gradient(rgb(0, 219, 248), rgba(0, 234, 255, 0));
    color: rgb(0, 0, 0);
    justify-content: center;
}
.nav-logo img{
    width: 150px;
    padding: 0px;
    margin: 0px;
    align-items:flex-start;
}
.nav-title a{
    font-size: 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.nav-title{
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* main body */
.main-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
/* document lists */
.document-lists h1{
    font-size: 2.25rem;
    font-weight: 800;
}
.document-lists a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.75rem;
    font-weight: 600;
    width: 30vw;
    border-radius: 10px;
}
.document-lists li{
    padding-top: 10%;
    list-style: url(Data/point.png);
    list-style-position:inherit;
    list-style-type: decimal;
    width: 25vw;
}
.document-lists a:hover{
    background-color: #b5e5ffc5;
    color: #08007c;
}
/* quick apply form */
.quick-apply{
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.quick-apply-form{
    width: 30vw;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #68caff, #91d2f536);
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 1.5rem;
}
.quick-apply form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    width: calc(100%  - 20px)
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline:none;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 1rem;
    border-bottom-width: 4px;
    transition: all 0.4s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #001aff;
}
.quick-apply-form input{
    width: calc(100% - 20px);
    font-size: 1.75rem;
}
.quick-apply-form .button input{
    background: linear-gradient(135deg, #394cff, #8ed7ff);
    border-radius: 10px;
    color:rgb(255, 255, 255);
    margin-top: 5%;
}
links
.links{
    padding-right: 4%;
}
.links a{
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.links li{
    padding-top: 20%;
    list-style: url(Data/point.png);
    list-style-position:inherit;
    list-style-type: decimal;
    width: 20vw;
}
.links a:hover{
    color: #08007c;
    background-color: #b5e5ffc5;
}

/* for mobile devices */
@media(max-width: 1080px) {
    /*Navigation Bar*/
    .toggle-button{
        display: flex;
    }
    .nav-logo{
        margin: 10px;
        align-self: center;
        display: flex;
    }
    .nav-title{
        padding: 20px;
        text-align: center;
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links li a{
        padding: .5rem 1rem;
    }
    .nav-links.active{
        display: flex;
    }
}