*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(255, 148, 148); */
    background: linear-gradient(rgb(255, 127, 127), rgba(255, 148, 148, 0));
    color: rgb(0, 0, 0);
}
 
.nav-logo img{
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
}

.nav-title a{
    font-size: 50px;
    margin: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.nav-links li{
    list-style: none;
    font-size: 30px;
    padding: 20px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 14px;
    display: block;
}

.nav-links li:hover{
    background: linear-gradient(rgb(255, 127, 127), rgba(255, 148, 148, 0));
}

.toggle-button{
    position: absolute;
    right: 5%;
    top: 3%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 40px;
}

.toggle-button .bar{
    height: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}


@media(max-width: 800px) {
    .toggle-button{
        display: flex;
    }
    .nav-logo{
        margin: 10px;
        align-self: center;
        display: flex;
    }
    .nav-title{
        padding: 20px;
        text-align: center;
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links li a{
        padding: .5rem 1rem;
    }
    .nav-links.active{
        display: flex;
    }
}
